<div>
    <div class="lessons-header">
        <div>
            <h3>Tindin Class</h3>
            <p>Listagem de aulas cadastradas</p>
            <p>{{lessons.length}} registros encontrados</p>
        </div>

        <div>
            <a href="#" routerLink="/create-lesson">Nova aula</a>
        </div>
    </div>

    <section class="lessons">
        <a class="lesson" [routerLink]="['/lesson-detail', lesson.id]" *ngFor="let lesson of lessons">
            <h3>{{lesson.title}}</h3>
            <p>{{lesson.description}}</p>
            <p>Cadastrado em {{lesson.createdAt | date:'dd/MM/yyyy' }}</p>
        </a>
    </section>
</div>
